@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  color: white;
}
h1 {
  color: #006747;
  font-size: 28px;
}
h2 {
  color: #006747;
  font-size: 18px;
}
th {
  font-weight: 400;
}
 body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background: repeating-linear-gradient(
    90deg, 
    #004D98,  
    #004D98 180px, 
    #A50044 180px, 
    #A50044 300px  
  ); */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 5px;
  color: black;
}

.time {
  height: 40px;
  color: white;
}
.Event {
  width: 100px;
  border-radius: 5px;
  box-shadow: 8px 8px #00000042;
}

.Event h6, h5 {
  align-content: center;
}

.bg {
  background: #CFC493;
}

.away {
  background: rgb(18, 187, 199);
}

table {
  border-spacing: 10px 30px;
}

.Event {
  cursor: pointer;  /* Makes the event appear clickable */

}

.Event:hover {
  background-color: lightgray;  /* Optional: Change background on hover */
  transition: .3s ease;
}

button {
  color: white;
  background-color: #006484;
  border-radius: 5px;
  padding: 8px 16px;
}
button:hover {
  transform: scale(1.1);
  transition: .2s ease-in
}

td:hover {
  transform: scale(1.1);
  transition: .2s ease-in-out;
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.8);
}